/* Fichier accueil.css :
 * contient le détail du style visuel du chat
 */

body
{
	background-color: grey;
	background-attachment: fixed;
}

div#ratel
{
	background-image: url("ratel.jpg");
	background-repeat: no-repeat;
	width: 290px;
	height: 234px;
	padding-left: 0;
	margin : 0 auto;
}

#divMessages
{
	
	height: 150px;
	overflow-y: auto;
	border-width:15px;
	border-style:solid;
	border-color:white;
	margin: 15px;
}

#divUsers
{
	
	height: 150px;
	overflow-y: auto;
	border-width:15px;
	border-style:solid;
	border-color:white;
	margin: 15px;
}

p
{
	text-align: center;
}

j
{
	font-style: italic;
}

i
{
	text-decoration: underline;
}

k
{
	color: white;
}

#divButton
{
	
	float = left;
	display : inline-block;
}
